body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    min-width: 740px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 35px;
    text-align: center;
}

    header h2 {
        padding: 15px;
        margin: 0;
    }

nav ul {
    margin: 0 auto;
    display: flex;
    font-size: 1.2em;
    flex-direction: row;
    justify-content: center;
}

    nav ul li {
        display: inline;
        margin-right: 1rem;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

main {
    padding: 20px;
}

.instructor-card, .student-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.driving-school-address {
    cursor: pointer;
    color: #0066cc;
    text-decoration: underline;
}

    .driving-school-address:hover::after,
    .driving-school-address:hover::before {
        content: none !important;
    }

.contacts-info {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 0.9em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

[style*="display: none"] {
    display: none !important;
}